<app-appnavbar></app-appnavbar>

<app-appsidebar></app-appsidebar>
<div class="content-wrapper">
    <app-appheader></app-appheader>
  <section class="content">
    <div class="container-fluid">

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3799.3433454002256!2d-63.198039084822156!3d-17.77555357952252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7fd822f967b%3A0x9dbd7bc1c94634a4!2sUniversity%20Aut%C3%B3noma%20Gabriel%20Rene%20Moreno!5e0!3m2!1ses-419!2sbo!4v1569417701930!5m2!1ses-419!2sbo" width="1200" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      <!-- <app-root> </app-root> -->
    </div>
  </section>
</div>
<app-appfooter></app-appfooter>



